<div class="col-md-3">

</div>
<div class="col-md-6">
<form class="" action="index.html" method="post">
<div class="form-group">
  <label for="firstName">First Name</label>
  <input type="text" class="form-control" ng-model="Client.firstName" id="firstName" placeholder="First Name">
</div>
<div class="form-group">
  <label for="lastName">Last Name</label>
  <input type="text" class="form-control" ng-model="Client.lastName" id="lastName" placeholder="Last Name">
</div>
<div class="form-group">
  <label for="emailId">Email ID</label>
  <input type="text" class="form-control" ng-model="Client.emailId" id="emailId" placeholder="Email ID">
</div>
<div class="form-group">
  <label for="mobileNumber">Mobile Number</label>
  <input type="text" class="form-control" ng-model="Client.mobileNumber" id="mobileNumber" placeholder="Mobile Number">
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input type="text" class="form-control" ng-model="Client.password" id="password" placeholder="Password">
</div>
<div class="form-group">
  <label for="confirmPassword">Confirm Password</label>
  <input type="text" class="form-control" ng-model="Client.confirmPassword" id="confirmPassword" placeholder="Confirm Password">
</div>
<button type="submit" class="btn btn-default">Sign Up

</button>
</form>
</div>
